* {
    padding: 0;
    margin: 0;
}
#hero {
    background: url("./../src/assets/img/bg.png") no-repeat center/cover;
    min-height: 100vh;
}
.container {
    width: 90%;
    margin: 0 auto;
}
body{
    background: #000;
}

.hero--block__one {


}

button, input {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}